{% extends 'base.html.twig' %}


{% block title %}Catégories{% endblock %}


{% block body %}
<h1>{{ category.name }}</h1>

<ul class='list-group'>
{% for i in 0..2 %}
    <li class='list-group-item'>
        {{category.name}} - {{programs[i].id}} - <a href='{{ path('program_{id}', { id: programs[i].id }) }}'>{{programs[i].title}}</a> - {{programs[i].synopsis}}
    </li>
    {# <article class="card m-1" style="width: 18rem;">
        <div class="card-header">{{ program.category.name }}</div>
        <div class="card-body">
            <h2 class="card-title">{{ program.title }}</h2>
            <p class="card-text">{{ program.synopsis }}</p>
        </div>
        <div class="card-footer">
            {{ loop.index }}
            <a href='{{ path('program_{id}', { id: program.id }) }}' class='card-link'>Consulter</a>
        </div>
    </article> #}
    {% else %}
        Aucune série trouvée
    {% endfor %}
</div>

{% endblock %}