{% extends 'base.html.twig' %}


{% block title %}Série #{{program.id}}{% endblock %}


{% block body %}
<article class="card m-1" style="width: 18rem;">
        <div class="card-header">{{ program.category.name }}</div>
        <img class='card-img-top' src='{{ program.poster }}' alt='{{ program.title }}' >
        <div class="card-body">
            <h2 class="card-title">{{ program.title }}</h2>
            <p class="card-text">{{ program.synopsis }}</p>
        </div>
        <div class="card-footer">{{ program.id }}</div>
    </article>


{% endblock %}