{% extends 'base.html.twig' %}


{% block title %}{{ program.title }}{% endblock %}


{% block body %}
<h1>{{ program.title }}</h1>
<img class='card-img-top' src='{{ program.poster }}' alt='{{ program.title }}' >
<p>Categorie : {{ program.category.name }}</p>
<p>Saisons :
    {% for season in program.seasons %}
        <a href='{{path('program_season_show', {programId: program.id, seasonId: season.id})}}'>{{ season.number }}</a>
    {% else %}
        aucune pour le moment
    {% endfor %}
</p>
<p>{{ program.synopsis }}</p>   
<div class="card-footer">{{ program.id }}</div>
</article>


{% endblock %}